<?xml version="1.0"?>
<launch>
  <arg name="configuration_basename" default="turtlebot_urg_lidar_2d.lua"/>
  
  <param name="urg_node/frame_id" value="base_link" />
  <node name="urg_node" pkg="urg_node" type="urg_node" >
    <param name="port" type="string" value="/dev/ttyACM1"/>
  </node>

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory
              $(find cartographer_turtlebot)/configuration_files
          -configuration_basename $(arg configuration_basename)"
      output="screen">
    <remap from="points2" to="/camera/depth/points" />
  </node>

  <node name="flat_world_imu_node" pkg="cartographer_turtlebot"
      type="cartographer_flat_world_imu_node" output="screen">
    <remap from="imu_in" to="/mavros/imu/data_raw" />
    <remap from="imu_out" to="/imu" />
  </node>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jdzx_nav)/rviz/guardian_navigation.rviz"/>
</launch>
